details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply dark:bg-zinc-50 dark:bg-zinc-800
  }

  input[type="checkbox"] {
    @apply accent-first-600
  }
}

@layer components {
  .btn-first {
    @apply flex justify-center items-center 
    bg-first-500 dark:bg-first-600 hover:bg-first-600 dark:hover:bg-first-600 
    border-first-500 dark:border-first-700 hover:border-first-600 
    text-first-100 stroke-first-100 
    border border-solid;
  }

  .btn-second {
    @apply flex justify-center items-center bg-transparent 
    hover:dark:bg-zinc-700 hover:bg-first-100 text-first-500 
    dark:text-first-100 stroke-first-500 hover:text-first-600 dark:hover:text-first-50 
    hover:stroke-first-600 border-first-500 border border-solid;
  }

  .btn-third {
    @apply flex justify-center items-center text-first-500 dark:text-first-100 stroke-first-500 hover:text-first-600 hover:stroke-first-600 cursor-pointer;
  }
  
  .btn-select {
    @apply bg-zinc-100 dark:bg-zinc-700 cursor-pointer rounded-md;
  }

  .custom-select-options {
    @apply bg-zinc-100 dark:bg-zinc-700 rounded-md border border-zinc-800 dark:border-zinc-50 cursor-pointer
    dark:checked:bg-first-400 outline-none 
  }
  
  .custom-select-options > option {
    @apply hover:bg-zinc-200 hover:text-zinc-700 dark:hover:bg-first-400 dark:checked:bg-first-400 
  }

  .general-border {
    @apply border-solid border-zinc-400 dark:border-zinc-800
  }
}

.custom-animation {
  animation: dashdraw 0.5s linear infinite;
  stroke-dasharray: 5;
}

@keyframes dashdraw {
  0% {
    stroke-dashoffset: 10;
  }
}
